@import '../../../assets/css/variables.scss';
.mediaeye-integrated-services {
    width: 100%;
    &-row {
        margin-left: -15px;
        margin-right: -15px;
        display: flex;
        flex-wrap: wrap;
    }
    &-box {
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 35px 32px;
        max-width: 970px;
        margin: auto;
        text-align: center;
        justify-content: center;
        &-break {
            width: 1px;
        }
        &-img {
            max-width: 100%;
            height: auto;
            max-height: 40px;
            margin: auto;
        }

    }
}
