@import '../../../assets/css/variables.scss';

.collcetion-preview {
  margin-top: 50px;
  .mediaeye-tabss-lists {
    justify-content: center;
    --left-side: 16.412%;
    --right-side: 24.8299%;
  }
}
