.event_create {
  &-header {
    // margin-top: 85px;
    &-banner {
      position: relative;
      &-bgbck {
        width: 100%;
      }
      &-heading {
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -35px);
        text-align: center;
        &-title {
          font-size: 62px;
          font-weight: bold;
          color: #ffff;
          margin-bottom: 25px;
        }
        &-description {
          font-size: 24px;
          color: #ffff;
          margin-bottom: 25px;
          font-weight: 600;
        }
      }
    }
    &-airdropbtn {
      text-align: center;
      padding-top: 35px;
      padding-bottom: 35px;
      
    }
  }

  &_tabpart {
    .tabs_menu_wrapper .contents_of_tab {
      display: flex;
      // justify-content: space-between;
      gap: 55px;
      padding-bottom: 10px;
      font-size: 18px;
      border-bottom: 1px solid #90909050;
      margin-bottom: 40px;
      padding-bottom: 0px;
    }
    .tabs_menu_wrapper .contents_of_tab button {
      padding: 0 50px;
      padding-bottom: 10px;
    }
    .tabs_menu_wrapper .contents_of_tab button.active_tab {
      color: #55e0ff;
      font-size: 18px;
      border-bottom: 2px solid #55e0ff;
      margin-bottom: -1px;
    }
    .content_wrapper .new-search-filter {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 15px;
      gap: 15px;
    }

    .content_wrapper .searchbox {
      display: flex;
      border: 1px solid;
      width: fit-content;
      border-radius: 6px;
      border: 1px solid #ffffff50;
      padding: 0px 10px;
      align-items: center;
    }
    .content_wrapper .searchbox .searchicon {
      width: 22px;
      height: 22px;
    }
    .content_wrapper .searchbox .search-bar-btn {
      border: none;
      background: transparent;
      color: #ffffff50;
      padding: 0;
      width: 250px;
      height: 38px;
    }
    .content_wrapper .searchbox .search-bar-btn:focus-visible {
      outline: none;
    }
    .content_wrapper .new-search-filter .filter-new-btn {
      display: flex;
      gap: 10px;
      align-items: center;
      border-radius: 6px;
      border: 1px solid #ffffff50;
      padding: 6px 8px;
      color: #ffffff50;
    }
    .airdrop_content .airdrop_heading {
      margin-bottom: 20px;
    }
    .airdrop_content
      .airdrop_heading
      .airdrop_heading_title
      .airdrop_heading_title-color {
      color: #ff005c;
    }
    .content_wrapper {
      justify-content: right;
    }
  }
}
