.profile_wallet_page {
  background: rgba(255, 255, 255, 0.63);
  border: 1px solid #797979;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  border-radius: 12px;
  width: 100%;
  padding: 30px;
  @media (max-width: 767.98px) {
    padding: 40px 40px;
  }
  h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    // color: #000;
    @media (max-width: 767.98px) {
      font-weight: 600;
    }
  }
  &_info {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    // color: #000000;
    margin: 20px 0 30px;
    @media (max-width: 767.98px) {
      line-height: 30px;
    }
  }
}

.profile_wallet_connect_wallet {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 50px;
  margin-bottom: 110px;
  @media (max-width: 767.98px) {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  &_col {
    width: 60%;
    margin: 0 auto;
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
    align-items: center;
    /* flex-wrap: wrap; */

    @media (max-width: 767.98px) {
      width: 100%;
      display: block;
    }

    .wallet_btn {
      background: rgba(100, 100, 100, 0.3);
      border: 1px solid rgba(100, 100, 100, 0.3);
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      height: 41px;
      width: 100%;
      display: flex;
      justify-content: left;
      align-items: center;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;

      @media (max-width: 767.98px) {
        margin-bottom: 20px;
      }

      &-icon {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        margin-right: 45px;
      }
    }
  }
}

.dark .wallet_btn {
  color: #fff;
}

.dark .profile_wallet_page {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid #797979;
}

.dark .profile_wallet_page h2 {
  color: #fff;
}

.wallet_btn[disabled] {
  opacity: 0.5;
  cursor: auto;
}
