@import "../../../assets/css/variables.scss";

.successful-modal {
  .com-modal-ct {
    background: linear-gradient(126.6deg, #430a5f 28.69%, #1a0b17 100%);
    width: 430px;
  }
  .com-modal-close {
    svg {
      width: 13px;
      height: 13px;
      path {
        stroke: $white-color;
      }
    }
  }
  &-mid {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    path {
      fill: #fff;
    }
    &-status {
      font-size: 16px;
      color: $white-color;
    }
  }
}
