@import '../../../assets/css/variables.scss';

.mediaeye-campaign {
    &-row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;

        .mediaeye-campaign-card {
            width: 33.33%;
            margin-bottom: 30px;

            &:nth-child(3n + 2) {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    &-slide {
        margin-left: -10px !important;
        margin-right: -10px !important;

        .mediaeye-campaign-card {
            width: 100%;
            margin-top: 5px;
        }

        .swiper-slide {
            &-next {
                .mediaeye-campaign-card {
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            &:not(&-next, &-active) {
                .mediaeye-campaign-card {
                    margin-left: auto;
                }
            }
        }
    }

    &-card {
        position: relative;
        padding: 0 10px;
        max-width: 400px;

        &-inner {
            background: transparent;
            position: relative;
            cursor: pointer;
            color: #fff;
            display: block;
            @include vendor-prefix(transition, transform 0.25s ease-in-out 0.05s);

            &-imgbox {
                position: relative;
                width: 100%;

                &-slide {
                    overflow: hidden;
                    @include vendor-prefix(border-radius, 10px 10px 0px 0px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 200px;
                    width: 100%;

                    img {
                        min-height: 100%;
                        width: auto;
                        max-width: none;
                        min-width: 100%;
                        align-self: center;
                        @include vendor-prefix(transition, all 0.4s);
                        @include vendor-prefix(border-radius, 5px);
                        object-fit: cover;
                        @include vendor-prefix(transition, transform 0.15s ease-in-out 0.03s);
                    }

                    video {
                        object-fit: contain;
                        aspect-ratio: 1 / 1;
                        width: 100%;
                        max-height: 100%;
                        @include vendor-prefix(transition, transform 0.15s ease-in-out 0.03s);
                    }
                }

                .mediaeyeempty-image {
                    background: $dark-bg;
                }
            }


            &-content {
                @include vendor-prefix(border-radius, 0px 0px 10px 10px);
                @include vendor-prefix(transition, all 0.3s);
                padding: 65px 25px 20px;
                position: relative;
                margin-top: -53px;
                overflow: hidden;

                &::before {
                    content: '';
                    background: $campaign-color;
                    position: absolute;
                    top: 28px;
                    right: 0;
                    height: 53px;
                    width: 100%;
                    @include vendor-prefix(transform, skewY(-8deg));
                }

                &::after {
                    content: '';
                    background: $collection-color;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    top: 28px;
                    left: 0;
                    width: 100%;
                    bottom: -30px;
                    @include vendor-prefix(transform, skewY(8deg));
                }

                &-inner {
                    min-height: 150px;
                    position: relative;
                    z-index: 1;
                }

                &-status {
                    padding: 0 15px;
                    line-height: 30px;
                    color: #fff;
                    font-size: 14px;
                    text-align: center;
                    @include vendor-prefix(border-radius, 50px);
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    font-family: $button-font;

                    &[type='live'] {
                        background: $live-color;
                    }

                    &[type='expired'] {
                        background: $disable-color;
                    }
                }

                &-logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    width: 60px;
                    height: 60px;
                    @include vendor-prefix(border-radius, 50px);
                    overflow: hidden;
                    bottom: 8px;
                    border: 2px solid rgba(255, 255, 255, 0.4);
                    cursor: pointer;
                    position: absolute;
                    left: 25px;
                    z-index: 1;

                    &-img {
                        height: auto;
                        min-height: 100%;
                        width: 100%;
                        @include vendor-prefix(transform, scale(1.01));
                    }
                }

                &-top {
                    position: relative;
                    display: flex;

                    &-left {
                        margin-left: 0;
                        max-width: 100%;
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;
                    }
                }

                &-title {
                    color: #ffffff;
                    font-size: 16px;
                    height: 24px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &-date {
                    font-size: 14px;
                    color: $transparent-color;
                    margin-top: 8px;
                }

                &-middle {
                    min-height: 69px;
                    margin-top: 35px;
                }

                &-info {
                    display: flex;
                    flex-direction: column;

                    &-item {
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        line-height: 24px;
                        margin-top: 9px;

                        svg {
                            margin-right: 5px;
                        }

                        &:not(:last-child) {
                            margin-right: 10px;
                        }
                    }
                }

                &-bottom {
                    font-size: 14px;
                    color: #fff;
                    line-height: 21px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: flex;
                    align-items: center;
                    margin-top: 10px;

                    &-left {
                        margin: auto 0 0;
                        display: flex;

                        &-item {
                            display: flex;
                            align-items: center;
                            font-size: 14px;

                            &-btn {
                                background-color: rgba(255, 255, 255, 0.1);
                                @include vendor-prefix(border-radius, 15px);
                                color: $white-color;
                                font-weight: 500;
                                font-size: 10px;
                                text-align: center;
                                line-height: 17px;
                                width: 54px;
                            }

                            svg {
                                margin-right: 5px;
                            }

                            &:not(:last-child) {
                                margin-right: 10px;
                            }
                        }
                    }

                    &-right {
                        margin: auto 0 0 auto;
                        display: flex;
                        align-items: center;

                        &-item {
                            display: flex;
                            align-items: center;
                            font-size: 14px;

                            svg {
                                margin-right: 5px;
                            }

                            &:not(:last-child) {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }


            &:hover,
            &:focus {
                @include vendor-prefix(transform, translateY(-5px));
            }

            &:hover & {
                &-imgbox {
                    &-slide {

                        img,
                        video {
                            @include vendor-prefix(transform, scale(1.05));
                        }
                    }

                }
            }

            &[type='featured'] {
                margin-bottom: 0;

                &::after {
                    content: '';
                    height: 70px;
                    width: 100%;
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                    background-position: center bottom;
                    display: block;
                    margin-top: -33px;
                    background-image: url('../../../assets/img/bg/collection-featured.png');
                }
            }

            &[type='featured'] & {
                &-content {
                    &::before {
                        background: $campaign-color;
                    }
                }
            }
        }
    }
}