@import '../../../assets/css/variables.scss';

.airdropBanner {
  width: 100%;
  height: 240px;
  position: relative;
  overflow: hidden;
  @include vendor-prefix(border-radius, 5px);

  .mediaeyeempty-image {
    background: $dark-bg;
  }

  &-img {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    @include vendor-prefix(transform, translateY(-50%));
  }
}

.mediaeye {
  &-layout {
    &-content {
      &.Airdrop_P-t-40 {
        padding-top: 40px;
      }
    }

    &-container {
      &-flexout {
        margin-top: -47px;

        .airdropprofileAvatar {
          height: 140px;
          width: 140px;
          border: 2px solid rgba(255, 255, 255, 0.4);
          @include vendor-prefix(border-radius, 50%);
          overflow: hidden;

          &-img {
            width: 100%;
            min-height: 100%;
          }

          .mediaeyeempty-image {
            background: $dark-bg;
          }
        }

        &-actions {
          position: absolute;
          right: 0;
          top: 70px;
        }

        &-bottomprofile {
          margin-top: 38.4px;
          display: grid;

          &-row {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-name {
              &-image {
                height: 30px;
                width: 30px;
              }
            }

            &-col {
              display: flex;
              gap: 20px;
            }

            .mediaeye-nft-card-inner-action {
              &.res {
                position: relative;
              }
            }

            h2 {
              font-weight: 500;
              font-size: 36px;
              display: flex;
              align-items: center;
              gap: 20px;
            }

            .crypto {
              height: 40px;
              width: 40px;
            }

            &-social {
              &-btn {
                border-right: 1px solid rgba(255, 255, 255, 0.1);
                padding-right: 10px;
                padding-top: 5px;
                cursor: pointer;

                svg {
                  opacity: 0.5;
                  transition: 0.3s;

                  &:hover {
                    opacity: 1;
                    transition: 0.3s;
                  }
                }
              }
            }

            &-inner {
              display: flex;
              align-items: center;
              width: 100%;

              &-name {
                border-left: 1px solid rgba(255, 255, 255, 0.5);
                height: 40px;
                display: flex;
                gap: 10px;
                align-items: center;
                padding-right: 38px;
                padding-left: 10px;
                font-weight: 400;
                font-size: 14px;
              }

              &-btn {
                margin-left: auto;
              }
            }

            &-phase {
              font-size: 16px;

              &-name {
                color: #ffffff;
                width: 220px;
                display: inline-block;
                margin-right: 10px;
              }

              &-whitelist {
                &-time {
                  color: #ffffff;
                  opacity: 0.5;
                }
              }

              &-bount {
                &-time {
                  color: #ffffff;
                  opacity: 0.5;
                  &.active {
                    color: #ffa41c;
                  }
                }

                &-claim {
                  font-size: 14px;
                  font-weight: 400;
                  margin-left: 20px;
                  color: #ffffff;
                  opacity: 0.5;
                  background: rgba(255, 255, 255, 0.05);
                  border-radius: 14px;
                  padding: 5px 20px;

                  svg {
                    margin-right: 5px;
                  }

                  span {
                    margin-left: 20px;
                  }
                }
              }
              &-leftover {
                &-time {
                  color: #ffa41c;
                }
                &-claim {
                  font-size: 14px;
                  font-weight: 400;
                  margin-left: 20px;
                  color: #ffffff;
                  opacity: 0.5;
                  background: rgba(255, 255, 255, 0.05);
                  border-radius: 14px;
                  padding: 5px 20px;

                  svg {
                    margin-right: 5px;
                  }

                  span {
                    margin-left: 20px;
                  }
                }
              }
              .btn {
                min-width: 180px;
              }
            }

            &-description {
              font-size: 16px;
              color: rgba(255, 255, 255, 0.5);
              margin-top: 40px;
            }

            &-video {
              margin-top: 50px;
              display: flex;
              align-items: center;
              gap: 10px;
            }

            &-address {
              margin-top: 40px;
              display: flex;
              justify-content: space-between;
              gap: 40px;
              width: 100%;

              &-data {
                display: flex;
                gap: 10px;
                align-items: flex-end;

                button {
                  margin-bottom: 20px;
                }
              }
            }

            &-rewards {
              &-body {
                display: flex;
                gap: 25px;

                &-data {
                  display: flex;
                  justify-content: flex-start;
                  background: rgba(255, 255, 255, 0.05);
                  border-radius: 26px;
                  padding: 3px 4px;
                  align-items: center;
                  grid-gap: 7px;
                  gap: 7px;
                  min-width: 180px;

                  img {
                    width: 30px;
                    height: 30px;
                  }

                  span {
                    font-size: 18px;
                  }
                }
              }
            }

            &-nft {
              width: 100%;
            }

            &-description {
              margin-top: 58px;
            }
          }

          &-smallfav {
            display: flex;
            align-items: center;
            gap: 16px;

            div {
              display: flex;
              align-items: center;
              gap: 8px;
            }
          }

          &-secondrow {
            // display: flex;
            // gap: 16px;
            // align-items: flex-end;

            &.mgap {
              gap: 51.2px;
            }

            &-firstcol {
              display: flex;
              flex-direction: column;
              gap: 9.12px;

              &.alCenter {
                align-items: flex-end;
              }

              .fontchange {
                font-family: $body-font;
                width: fit-content;
              }
            }

            h6 {
              font-weight: 400;
              font-size: 14px;
              margin: 0;
            }

            &-blue {
              color: #27f2ff;
            }

            &-green {
              color: #00ff57;
            }

            &-claimtime {
              background: rgba(255, 255, 255, 0.05);
              border-radius: 14px;
              padding: 5px 20px;
              text-align: center;
              width: 320px;

              div {
                justify-content: center;
              }

              span {
                margin-left: 4px;
                margin-right: 16px;
              }
            }

            h4 {
              font-weight: 400;
              font-size: 18px;
              margin: 8px 16px;
              position: relative;
              display: flex;
              align-items: center;
              height: 44px;
              gap: 8px;

              &::before {
                content: '';
                position: absolute;
                left: -16px;
                top: 0;
                width: 1px;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.5);
              }

              & span {
                opacity: 0.5;
                margin-left: 8px;
              }
            }

            &-img {
              position: relative;
              height: 35.45px;
              display: flex;
              align-items: center;
              cursor: pointer;

              &::before {
                content: '';
                position: absolute;
                left: -8px;
                top: 0;
                width: 1px;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.1);
              }

              &:nth-child(1) {
                &::before {
                  content: none;
                }
              }
            }
          }
        }
      }
    }
  }

  &-desc {
    padding: 20px 0;

    h4 {
      font-weight: 400;
      font-size: 20px;
      margin: 13.6px 0;

      &.martop {
        margin: 16px 0;
      }
    }

    h6 {
      font-weight: 400;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.5);
      margin: 13.6px 0;
    }

    &-video {
      width: 986px;
      height: 557px;
    }
  }

  &-task {
    position: relative;

    h4 {
      font-weight: 400;
      font-size: 20px;
      margin: 13.6px 0;
    }

    &-row {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      gap: 5px;

      &-inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(100, 100, 100, 0.3);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        border-radius: 23px;
        padding: 3px 3px 3px 1.375vw;

        h6 {
          font-weight: 400;
          font-size: 16px;
          margin: 0;
        }

        .btn {
          &-complete {
            max-width: fit-content;
            margin: 0;
            min-width: fit-content;
            padding: 9.6px;
          }
        }
      }

      &-inner-telegram-phone-number-active {
        background: none;
        border: none;
        filter: blur(0);
        backdrop-filter: blur(0);
        -webkit-backdrop-filter: blur(0);

        &-show {
          display: flex;
          gap: 20px;
          align-items: center;

          &-label {
            font-size: 14px;
            font-weight: 500;
            color: #fff;
          }

          &-phone-code {
            width: 100px;
            background: rgba(255, 255, 255, 0.05);
            height: 40px;
            border: none;
            color: #ffffff;
            padding: 12px;
            @include vendor-prefix(border-radius, 20px);
            -moz-appearance: textfield;

            &:hover {
              border: 1px solid #55e0ff;
            }

            &:focus {
              border: 1px solid #55e0ff;
            }

            &:focus-visible {
              border: 1px solid #55e0ff;
              outline: none;
            }

            &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }

          &-phone-number {
            background: rgba(255, 255, 255, 0.05);
            height: 40px;
            border: none;
            color: #ffffff;
            padding: 12px;
            @include vendor-prefix(border-radius, 20px);
            -moz-appearance: textfield;

            &:hover {
              border: 1px solid #55e0ff;
            }

            &:focus {
              border: 1px solid #55e0ff;
            }

            &:focus-visible {
              border: 1px solid #55e0ff;
              outline: none;
            }

            &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
      }

      &-inner-insta-active {
        background: none;
        border: none;
        filter: blur(0);
        backdrop-filter: blur(0);
        -webkit-backdrop-filter: blur(0);

        &-show {
          display: flex;
          gap: 50px;
          align-items: center;

          &-flex {
            display: flex;
            gap: 20px;
            align-items: center;

            &-label {
              font-size: 14px;
              font-weight: 500;
              color: #fff;
            }

            &-input {
              background: rgba(255, 255, 255, 0.05);
              height: 40px;
              border: none;
              color: #ffffff;
              padding: 12px;
              @include vendor-prefix(border-radius, 20px);
              -moz-appearance: textfield;

              &:hover {
                border: 1px solid #55e0ff;
              }

              &:focus {
                border: 1px solid #55e0ff;
              }

              &:focus-visible {
                border: 1px solid #55e0ff;
                outline: none;
              }
            }
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      .ttr {
        background: rgba(29, 161, 242, 0.3);
      }

      .tiktok {
        background: linear-gradient(
          90deg,
          rgba(255, 22, 93, 0.5) 0%,
          rgba(62, 193, 211, 0.5) 100%
        );
      }

      .snapchat {
        background: rgba(238, 226, 24, 0.3);
      }

      .lkd {
        background: rgba(10, 102, 194, 0.3);
      }

      .flk {
        background: rgba(255, 0, 132, 0.3);
      }

      .rdt {
        background: rgba(255, 69, 0, 0.3);
      }

      .inst {
        background: linear-gradient(
          92.64deg,
          rgba(70, 99, 183, 0.3) 0%,
          rgba(158, 48, 188, 0.3) 21.2%,
          rgba(231, 73, 94, 0.3) 55.71%,
          rgba(247, 208, 77, 0.3) 94.65%
        );
      }

      .yt {
        background: rgba(255, 0, 0, 0.3);
      }

      .dis {
        background: rgba(88, 101, 242, 0.3);
      }

      .tel {
        background: rgba(38, 158, 218, 0.3);
      }

      .tmb {
        background: rgba(53, 70, 92, 0.3);
      }

      .twt {
        background: rgba(145, 71, 255, 0.3);
      }

      .vim {
        background: rgba(0, 168, 232, 0.3);
      }

      .spt {
        background: rgba(46, 189, 89, 0.3);
      }

      .mcp {
        background: rgba(255, 184, 0, 0.3);
      }

      .hub {
        background: rgba(255, 91, 53, 0.3);
      }

      .sng {
        background: rgba(51, 104, 250, 0.3);
      }

      .evt {
        background: rgba(255, 128, 0, 0.3);
      }

      .medium {
        background: rgba(0, 0, 0, 0.3);
      }

      .Clubhouse {
        background: #afad9c;
      }

      .Soundcloud {
        background: #ff6a22;
      }

      .coinmarketcap {
        background: #0d0d0d;
        min-width: 155px;
      }

      .coingecko {
        background: #dddddd;
      }
    }

    &-header {
      margin: 24px 0;
    }

    &-addinfo {
      .mediaeyeadditionaltextarea {
        width: 1059px;
        min-height: 117px;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
      }
    }
  }

  &-centerbtn {
    width: fit-content;
    margin: 0 auto;
  }
}

.Airdrop-token {
  &-productSection {
    h4 {
      font-weight: 400;
      font-size: 20px;
      margin: 16px 0;
    }

    .mediaeye-products {
      &-col {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
      }

      &-card {
        height: fit-content;
        display: flex;
        gap: 22.4px;
        width: 300px;
        padding: 0 11.2px;

        &-inner {
          &-content {
            display: none;
          }

          &::after {
            background: none;
          }

          &:not(:first-child) {
            margin-top: 0;
          }
        }

        &-small {
          width: 598.4px;
        }

        &:last-child {
          display: none;
        }

        &:nth-child(4) {
          display: none;
        }
      }
    }
  }
}
