@import '../../../assets/css/variables.scss';

.account-airdrops-page {
  margin-top: 24px;
  &-searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .mediaeye-searchbar {
      input {
        height: 38px;
        width: 300px;
      }
    }
    &-left {
      button {
        margin-right: 24px;
      }
    }
  }
  &-inner {
    margin-top: 24px;
  }
}
